Repository allure-framework/allure-python, pull requests merged in 2020-02, with the labels that each got.

#462 fix for 'allure-pytest-bdd' report marks feature as 'Fail' even when all steps pass
  allure-pytest-bdd/src/pytest_bdd_listener.py
  allure-pytest-bdd/src/utils.py
Labels: theme:pytest-bdd, type:bug

#464 Use user-data to pass link patterns to Allure-Behave
  allure-behave/src/listener.py
  allure-behave/src/utils.py
  allure-python-commons/src/mapping.py
Labels: theme:behave, type:enhancement

#469 add attachment to an allure report for allure-pytest-bdd
  allure-pytest-bdd/src/plugin.py
  allure-pytest-bdd/src/pytest_bdd_listener.py
Labels: theme:pytest-bdd, type:enhancement
