Repository allure-framework/allure-python, pull requests merged in 2025-04, with the labels that each got.

#850 feat(commons): enable typecheck for Allure API
  .flake8
  allure-python-commons/pyproject.toml
  allure-python-commons/setup.py
  allure-python-commons/src/allure/__init__.py
  allure-python-commons/src/allure/py.typed
  allure-python-commons/src/allure_commons/__init__.py
  allure-python-commons/src/allure_commons/_allure.py
  allure-python-commons/src/allure_commons/_core.py
  allure-python-commons/src/allure_commons/_hooks.py
  allure-python-commons/src/allure_commons/lifecycle.py
  allure-python-commons/src/allure_commons/logger.py
  allure-python-commons/src/allure_commons/mapping.py
  allure-python-commons/src/allure_commons/model2.py
  allure-python-commons/src/allure_commons/py.typed
  allure-python-commons/src/allure_commons/reporter.py
  allure-python-commons/src/allure_commons/types.py
  allure-python-commons/src/allure_commons/utils.py
Labels: theme:core, type:enhancement

#851 fix(pytest-bdd): compatibility with pytest-bdd 5 and 6
  allure-pytest-bdd/src/utils.py
  tests/allure_pytest_bdd/acceptance/description_test.py
  tests/allure_pytest_bdd/acceptance/title_test.py
Labels: theme:pytest-bdd, type:bug

#853 Set the correct detail message for passed steps (fix #835)
  allure-robotframework/src/listener/allure_listener.py
  tests/allure_robotframework/acceptance/robotframework_support/statuses/statuses_test.py
Labels: type:enhancement, theme:robotframework
